<div>
  <h2 id="page-heading" data-cy="PortfolioHeading">
    <span jhiTranslate="kallpapayApp.portfolio.home.title">Portfolios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="kallpapayApp.portfolio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-portfolio"
        [routerLink]="['/portfolio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kallpapayApp.portfolio.home.createLabel"> Create a new Portfolio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="portfolios?.length === 0">
    <span jhiTranslate="kallpapayApp.portfolio.home.notFound">No portfolios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="portfolios && portfolios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.limitAmount">Limit Amount</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.limitPercentage">Limit Percentage</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.percentage">Percentage</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.method">Method</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.portfolio.card">Card</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let portfolio of portfolios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/portfolio', portfolio.id, 'view']">{{ portfolio.id }}</a>
          </td>
          <td>{{ portfolio.limitAmount }}</td>
          <td>{{ portfolio.amount }}</td>
          <td>{{ portfolio.limitPercentage }}</td>
          <td>{{ portfolio.percentage }}</td>
          <td jhiTranslate="{{ 'kallpapayApp.Method.' + portfolio.method }}">{{ portfolio.method }}</td>
          <td>
            <div *ngIf="portfolio.card">
              <a [routerLink]="['/card', portfolio.card?.id, 'view']">{{ portfolio.card?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/portfolio', portfolio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/portfolio', portfolio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(portfolio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
