<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-participation-heading"
        data-cy="ParticipationCreateUpdateHeading"
        jhiTranslate="kallpapayApp.participation.home.createOrEditLabel"
      >
        Create or edit a Participation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.participation.creationDate" for="field_creationDate">Creation Date</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.participation.amount" for="field_amount">Amount</label>
          <select class="form-control" id="field_amount" data-cy="amount" name="amount" formControlName="amount">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="amountOption.id === editForm.get('amount')!.value?.id ? editForm.get('amount')!.value : amountOption"
              *ngFor="let amountOption of amountsCollection; trackBy: trackAmountById"
            >
              {{ amountOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.participation.portfolio" for="field_portfolio">Portfolio</label>
          <select class="form-control" id="field_portfolio" data-cy="portfolio" name="portfolio" formControlName="portfolio">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="portfolioOption.id === editForm.get('portfolio')!.value?.id ? editForm.get('portfolio')!.value : portfolioOption"
              *ngFor="let portfolioOption of portfoliosSharedCollection; trackBy: trackPortfolioById"
            >
              {{ portfolioOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
