<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-donation-heading" data-cy="DonationCreateUpdateHeading" jhiTranslate="kallpapayApp.donation.home.createOrEditLabel">
        Create or edit a Donation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.donation.myCause" for="field_myCause">My Cause</label>
          <select class="form-control" id="field_myCause" data-cy="myCause" name="myCause" formControlName="myCause">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="myCauseOption.id === editForm.get('myCause')!.value?.id ? editForm.get('myCause')!.value : myCauseOption"
              *ngFor="let myCauseOption of myCausesSharedCollection; trackBy: trackMyCauseById"
            >
              {{ myCauseOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
