<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-supporting-document-heading"
        data-cy="SupportingDocumentCreateUpdateHeading"
        jhiTranslate="kallpapayApp.supportingDocument.home.createOrEditLabel"
      >
        Create or edit a Supporting Document
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.supportingDocument.externalId" for="field_externalId">External Id</label>
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.supportingDocument.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.supportingDocument.supportingDocumentType" for="field_supportingDocumentType"
            >Supporting Document Type</label
          >
          <input
            type="text"
            class="form-control"
            name="supportingDocumentType"
            id="field_supportingDocumentType"
            data-cy="supportingDocumentType"
            formControlName="supportingDocumentType"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="kallpapayApp.supportingDocument.supportingDocumentPurpose"
            for="field_supportingDocumentPurpose"
            >Supporting Document Purpose</label
          >
          <input
            type="text"
            class="form-control"
            name="supportingDocumentPurpose"
            id="field_supportingDocumentPurpose"
            data-cy="supportingDocumentPurpose"
            formControlName="supportingDocumentPurpose"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.supportingDocument.accountHolder" for="field_accountHolder"
            >Account Holder</label
          >
          <select
            class="form-control"
            id="field_accountHolder"
            data-cy="accountHolder"
            name="accountHolder"
            formControlName="accountHolder"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                accountHolderOption.id === editForm.get('accountHolder')!.value?.id
                  ? editForm.get('accountHolder')!.value
                  : accountHolderOption
              "
              *ngFor="let accountHolderOption of accountHoldersSharedCollection; trackBy: trackAccountHolderById"
            >
              {{ accountHolderOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.supportingDocument.onboarding" for="field_onboarding">Onboarding</label>
          <select class="form-control" id="field_onboarding" data-cy="onboarding" name="onboarding" formControlName="onboarding">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                onboardingOption.id === editForm.get('onboarding')!.value?.id ? editForm.get('onboarding')!.value : onboardingOption
              "
              *ngFor="let onboardingOption of onboardingsSharedCollection; trackBy: trackOnboardingById"
            >
              {{ onboardingOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
