<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="addressInfo">
      <h2 data-cy="addressInfoDetailsHeading"><span jhiTranslate="kallpapayApp.addressInfo.detail.title">Address Info</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ addressInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="kallpapayApp.addressInfo.name">Name</span></dt>
        <dd>
          <span>{{ addressInfo.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address-info', addressInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
