<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-my-cause-heading" data-cy="MyCauseCreateUpdateHeading" jhiTranslate="kallpapayApp.myCause.home.createOrEditLabel">
        Create or edit a My Cause
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.myCause.percentage" for="field_percentage">Percentage</label>
          <input
            type="number"
            class="form-control"
            name="percentage"
            id="field_percentage"
            data-cy="percentage"
            formControlName="percentage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.myCause.cause" for="field_cause">Cause</label>
          <select class="form-control" id="field_cause" data-cy="cause" name="cause" formControlName="cause">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="causeOption.id === editForm.get('cause')!.value?.id ? editForm.get('cause')!.value : causeOption"
              *ngFor="let causeOption of causesCollection; trackBy: trackCauseById"
            >
              {{ causeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.myCause.portfolio" for="field_portfolio">Portfolio</label>
          <select class="form-control" id="field_portfolio" data-cy="portfolio" name="portfolio" formControlName="portfolio">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="portfolioOption.id === editForm.get('portfolio')!.value?.id ? editForm.get('portfolio')!.value : portfolioOption"
              *ngFor="let portfolioOption of portfoliosSharedCollection; trackBy: trackPortfolioById"
            >
              {{ portfolioOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
