<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountMembership">
      <h2 data-cy="accountMembershipDetailsHeading">
        <span jhiTranslate="kallpapayApp.accountMembership.detail.title">Account Membership</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountMembership.id }}</span>
        </dd>
        <dt><span jhiTranslate="kallpapayApp.accountMembership.externalId">External Id</span></dt>
        <dd>
          <span>{{ accountMembership.externalId }}</span>
        </dd>
        <dt><span jhiTranslate="kallpapayApp.accountMembership.email">Email</span></dt>
        <dd>
          <span>{{ accountMembership.email }}</span>
        </dd>
        <dt><span jhiTranslate="kallpapayApp.accountMembership.status">Status</span></dt>
        <dd>
          <span>{{ accountMembership.status }}</span>
        </dd>
        <dt><span jhiTranslate="kallpapayApp.accountMembership.bankAccount">Bank Account</span></dt>
        <dd>
          <div *ngIf="accountMembership.bankAccount">
            <a [routerLink]="['/bank-account', accountMembership.bankAccount?.id, 'view']">{{ accountMembership.bankAccount?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-membership', accountMembership.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
