<div>
  <h2 id="page-heading" data-cy="MyCauseHeading">
    <span jhiTranslate="kallpapayApp.myCause.home.title">My Causes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="kallpapayApp.myCause.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-my-cause"
        [routerLink]="['/my-cause/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kallpapayApp.myCause.home.createLabel"> Create a new My Cause </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="myCauses?.length === 0">
    <span jhiTranslate="kallpapayApp.myCause.home.notFound">No myCauses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="myCauses && myCauses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.myCause.percentage">Percentage</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.myCause.cause">Cause</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.myCause.portfolio">Portfolio</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myCause of myCauses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/my-cause', myCause.id, 'view']">{{ myCause.id }}</a>
          </td>
          <td>{{ myCause.percentage }}</td>
          <td>
            <div *ngIf="myCause.cause">
              <a [routerLink]="['/cause', myCause.cause?.id, 'view']">{{ myCause.cause?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="myCause.portfolio">
              <a [routerLink]="['/portfolio', myCause.portfolio?.id, 'view']">{{ myCause.portfolio?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/my-cause', myCause.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/my-cause', myCause.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(myCause)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
