<div>
  <h2 id="page-heading" data-cy="AccountHolderHeading">
    <span jhiTranslate="kallpapayApp.accountHolder.home.title">Account Holders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="kallpapayApp.accountHolder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-holder"
        [routerLink]="['/account-holder/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kallpapayApp.accountHolder.home.createLabel"> Create a new Account Holder </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accountHolders?.length === 0">
    <span jhiTranslate="kallpapayApp.accountHolder.home.notFound">No accountHolders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="accountHolders && accountHolders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.accountHolder.externalId">External Id</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.accountHolder.verificationStatus">Verification Status</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.accountHolder.statusInfo">Status Info</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.accountHolder.accountHolderInfo">Account Holder Info</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.accountHolder.residencyAddress">Residency Address</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accountHolder of accountHolders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/account-holder', accountHolder.id, 'view']">{{ accountHolder.id }}</a>
          </td>
          <td>{{ accountHolder.externalId }}</td>
          <td>{{ accountHolder.verificationStatus }}</td>
          <td>{{ accountHolder.statusInfo }}</td>
          <td>
            <div *ngIf="accountHolder.accountHolderInfo">
              <a [routerLink]="['/account-holder-info', accountHolder.accountHolderInfo?.id, 'view']">{{
                accountHolder.accountHolderInfo?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="accountHolder.residencyAddress">
              <a [routerLink]="['/address-info', accountHolder.residencyAddress?.id, 'view']">{{ accountHolder.residencyAddress?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/account-holder', accountHolder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/account-holder', accountHolder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accountHolder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
