<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-account-holder-heading"
        data-cy="AccountHolderCreateUpdateHeading"
        jhiTranslate="kallpapayApp.accountHolder.home.createOrEditLabel"
      >
        Create or edit a Account Holder
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.accountHolder.externalId" for="field_externalId">External Id</label>
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.accountHolder.verificationStatus" for="field_verificationStatus"
            >Verification Status</label
          >
          <input
            type="text"
            class="form-control"
            name="verificationStatus"
            id="field_verificationStatus"
            data-cy="verificationStatus"
            formControlName="verificationStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.accountHolder.statusInfo" for="field_statusInfo">Status Info</label>
          <input
            type="text"
            class="form-control"
            name="statusInfo"
            id="field_statusInfo"
            data-cy="statusInfo"
            formControlName="statusInfo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.accountHolder.accountHolderInfo" for="field_accountHolderInfo"
            >Account Holder Info</label
          >
          <select
            class="form-control"
            id="field_accountHolderInfo"
            data-cy="accountHolderInfo"
            name="accountHolderInfo"
            formControlName="accountHolderInfo"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                accountHolderInfoOption.id === editForm.get('accountHolderInfo')!.value?.id
                  ? editForm.get('accountHolderInfo')!.value
                  : accountHolderInfoOption
              "
              *ngFor="let accountHolderInfoOption of accountHolderInfosCollection; trackBy: trackAccountHolderInfoById"
            >
              {{ accountHolderInfoOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="kallpapayApp.accountHolder.residencyAddress" for="field_residencyAddress"
            >Residency Address</label
          >
          <select
            class="form-control"
            id="field_residencyAddress"
            data-cy="residencyAddress"
            name="residencyAddress"
            formControlName="residencyAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                addressInfoOption.id === editForm.get('residencyAddress')!.value?.id
                  ? editForm.get('residencyAddress')!.value
                  : addressInfoOption
              "
              *ngFor="let addressInfoOption of residencyAddressesCollection; trackBy: trackAddressInfoById"
            >
              {{ addressInfoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
