<div>
  <h2 id="page-heading" data-cy="CardHeading">
    <span jhiTranslate="kallpapayApp.card.home.title">Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="kallpapayApp.card.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card"
        [routerLink]="['/card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kallpapayApp.card.home.createLabel"> Create a new Card </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cards?.length === 0">
    <span jhiTranslate="kallpapayApp.card.home.notFound">No cards found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cards && cards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.externalId">External Id</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.type">Type</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.mainCurrency">Main Currency</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.cardDesignUrl">Card Design Url</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.cardUrl">Card Url</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.status">Status</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.expiryDate">Expiry Date</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.name">Name</span></th>
          <th scope="col"><span jhiTranslate="kallpapayApp.card.accountMembership">Account Membership</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a>
          </td>
          <td>{{ card.externalId }}</td>
          <td>{{ card.type }}</td>
          <td>{{ card.mainCurrency }}</td>
          <td>{{ card.cardDesignUrl }}</td>
          <td>{{ card.cardUrl }}</td>
          <td>{{ card.status }}</td>
          <td>{{ card.expiryDate | formatMediumDate }}</td>
          <td>{{ card.name }}</td>
          <td>
            <div *ngIf="card.accountMembership">
              <a [routerLink]="['/account-membership', card.accountMembership?.id, 'view']">{{ card.accountMembership?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/card', card.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(card)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
